<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.choi.booking.register.mapper.RegisterMapper">
	<insert id="addUser" parameterType="com.choi.booking.login.DTO.UserVO">
		INSERT INTO FB_USER 
		(FB_USERID, FB_USERPWD, FB_USERFIRSTNAME, FB_USERLASTNAME, FB_USERPHONENUMBER, FB_USEREMAIL)
		VALUES (#{fb_userid}, #{fb_userpwd}, #{fb_userfirstname}, #{fb_userlastname}, #{fb_userphonenumber}, #{fb_useremail})
	</insert>
</mapper>