<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.choi.booking.flight.mapper.FlightMapper">
	<select id="getSearchResult" parameterType="com.choi.booking.flight.DTO.FlightVO" resultType="com.choi.booking.flight.DTO.FlightVO">
		SELECT * FROM FB_FLIGHT
		WHERE FB_FLIGHTFROM_ENG=#{fb_flightfrom_eng} AND FB_FLIGHTTO_ENG=#{fb_flightto_eng}
	</select>
</mapper>