<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	予約完了
	<table>
		<tr>
			<th></th>
			<th>日付</th>
			<th>出発</th>
			<th>到着</th>
			<th>出発時間</th>
			<th>到着時間</th>
			<th>クラス</th>
		</tr>
		<tr th:each="FlightVO : ${bookingList}">
			<td>
				<input type="hidden" th:value="${FlightVO.fb_flightno}" id="fb_flightno" name="fb_flightno"/>
			</td>
			<td th:text="${#dates.format(FlightVO.fb_flightdate, 'yyyy-MM-dd')}">日付</td>
			<td th:text="${FlightVO.fb_flightfrom}">出発</td>
			<td th:text="${FlightVO.fb_flightto}">到着</td>
			<td th:text="${#dates.format(FlightVO.fb_flightfromtime, 'HH:mm')}">出発時間</td>
			<td th:text="${#dates.format(FlightVO.fb_flighttotime, 'HH:mm')}">到着時間</td>
			<td th:text="${FlightVO.fb_flightclass}">クラス</td>
		</tr>
	</table>
	<a href="/main">メイン画面へ</a>
</body>
</html>