<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<table>
		<tr>
			<th></th>
			<th>日付</th>
			<th>出発</th>
			<th>到着</th>
			<th>出発時間</th>
			<th>到着時間</th>
			<th>クラス</th>
			<th>価格</th>
		</tr>
		<tr th:each="FlightVO : ${flightList}">
			<th><input type="radio" name="outbound_check" onclick="showReturnTicketList();"/></th>
			<td th:text="${#dates.format(FlightVO.fb_flightdate, 'yyyy-MM-dd')}">日付</td>
			<td th:text="${FlightVO.fb_flightfrom}">出発</td>
			<td th:text="${FlightVO.fb_flightto}">到着</td>
			<td th:text="${#dates.format(FlightVO.fb_flightfromtime, 'HH:mm')}">出発時間</td>
			<td th:text="${#dates.format(FlightVO.fb_flighttotime, 'HH:mm')}">到着時間</td>
			<td th:text="${FlightVO.fb_flightclass}">クラス</td>
			<td th:text="${FlightVO.fb_flightprice}">価格</td>
		</tr>
	</table>
	<div th:if="${isRoundTrip}">
		<table id="returnTicketList" style="display: none;">
			<tr>
				<th></th>
				<th>日付</th>
				<th>出発</th>
				<th>到着</th>
				<th>出発時間</th>
				<th>到着時間</th>
				<th>クラス</th>
				<th>価格</th>
			</tr>
			<tr th:each="FlightVO : ${flightList_return}">
				<th><input type="radio" name="return_check"/></th>
				<td th:text="${#dates.format(FlightVO.fb_flightdate, 'yyyy-MM-dd')}">日付</td>
				<td th:text="${FlightVO.fb_flightfrom}">出発</td>
				<td th:text="${FlightVO.fb_flightto}">到着</td>
				<td th:text="${#dates.format(FlightVO.fb_flightfromtime, 'HH:mm')}">出発時間</td>
				<td th:text="${#dates.format(FlightVO.fb_flighttotime, 'HH:mm')}">到着時間</td>
				<td th:text="${FlightVO.fb_flightclass}">クラス</td>
				<td th:text="${FlightVO.fb_flightprice}">価格</td>
			</tr>
		</table>
	</div>
<script type="text/javascript" th:src="@{/js/roundTrip.js}"></script>
</body>
</html>