<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
	<h1 th:text="${message}"></h1>
	<div th:include="searchList/search"></div>
	<a href="/mypage">ご予約後の確認・変更</a>
	<sec:authorize access="isAuthenticated()">
		<form th:action="@{/logout}" method="post">
			<button type="submit">Logout</button>
		</form>
	</sec:authorize>
<!-- js -->
<script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
<script type="text/javascript" th:src="@{/js/showCalendar.js}"></script>
<script type="text/javascript" th:src="@{/js/toggleReturnDate.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>